<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
        <title>Pagina Inicial</title>

        <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header>
        <img src="/static/images_index/rpg.png" alt="RPG Logo" class="header-image">
        <h1>Bem-vindo ao Sistema NEMO!</h1>
    </header>
    
    
    <div class="buttons-header">
        <button id="home-button">Inicio</button>
        <button id="system-button">Sistema</button>
        <button id="equipment-button">Equipamento</button>
        <button id="character-button">Personagem</button>
    </div>
    
    <script src="/static/js/index.js"></script>
</body>



</html>