<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
        <title>Personagem</title>

        <link rel="stylesheet" href="/static/pCharacter.css">
</head>

<body>
    <header class="buttons-header">
        <button id="home-button">Inicio</button>
        <button id="system-button">Sistema</button>
        <button id="equipment-button">Equipamento</button>
        <button id="character-button">Personagem</button>
    </header>
    

    
    <script src="/static/js/pCharacter.js"></script>
</body>



</html>