<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamento</title>
    <link rel="stylesheet" href="/static/pEquipment.css">
</head>
<body>
    <header class="buttons-header">
        <button id="home-button">Inicio</button>
        <button id="system-button">Sistema</button>
        <button id="equipment-button">Equipamento</button>
    </header>
    

    <div class="containerWrapper">
        {% for equipment in equipment_list %}
        <div class="cardWrapper">
            <div class="cardTest">
                <div class="imageSection">
                    <img src="{{ equipment.image_path }}" alt="{{ equipment.name }}" class="iconSword">
                </div>
                <div class="divider"></div>
                <div class="contentSection">
                    <h3>{{ equipment.name }}</h3>
                    <button class="description-button" onclick="toggleDescription()">Ver Descrição</button>
                    <div class="Description hidden">{{ equipment.description }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    

    

    
    
    
    

    <script src="/static/js/pEquipment.js"></script>
</body>
</html>
