<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Sistema</title>
    <link rel="stylesheet" href="/static/pSystem.css">
</head>
<body>
    <header class="buttons-header">
        <button id="home-button">Inicio</button>
        <button id="system-button">Sistema</button>
        <button id="equipment-button">Equipamento</button>
    </header>

    <div class="allParts" id="allParts-section">

        <!--  Tópico de Introdução  -->
        <div class="Introduction" id="introduction-section">
            <img src="/static/images_pSystem/sword.png" alt="Icon Introduction" class="iconIntroduction">
            <h2>Introdução</h2>
        </div>

        <div id="introduction-text" style="display: none;">
            <img src="/static/images_pSystem/rolls.png" alt="Icon Text Introduction" class="iconTextIntroduction">
            <p>
                O Story Shack mantém uma coleção crescente de idéias de escrita e geradores de nomes de domínio, adequados para cada gênero. Este é o lugar para gerar aquela próxima idéia para uma história atraente, personagem ou nome para o seu próximo jogo de roleplaying.
            </p>
        </div>

        <!--  Tópico de Combate  -->
        <div class="Combat" id="combat-section">
            <img src="/static/images_pSystem/sword.png" alt="Icon Combat" class="iconCombat">
            <h2>Combate</h2>
        </div>

        <div id="combat-text" style="display: none;">
            <img src="/static/images_pSystem/combat.jpg" alt="Icon Text Combat" class="iconTextCombat">
            <p style="text-indent: 1%">
                O combate em RPG é onde estratégia, trabalho em equipe e sorte se encontram. É o momento em que personagens provam seu valor, enfrentam desafios e moldam suas jornadas.
                Espadas cortam o ar, flechas voam e magias explodem em meio ao caos. Mas não é apenas força que decide o resultado; decisões táticas e criatividade dos jogadores fazem toda a diferença. 
                Cada turno oferece uma escolha: atacar, defender, ajudar um aliado ou recuar para lutar outro dia. 
            </p>
            <p style="text-indent: 1%">
                Mais do que batalhas, o combate conta 
                histórias. Ele revela quem são os inimigos, os motivos da luta e as consequências da vitória ou derrota. Cada encontro molda a narrativa, 
                criando momentos épicos que serão lembrados por anos.
            </p>

            <div class="Flank" id="flank-section">
                <div class="Flank-header">
                    <img src="/static/images_pSystem/flank.jpeg" alt="Icon Text Flank" class="iconTextFlank">
                    <h1>Flanqueio</h1>
                </div>
                <p style="text-indent: 1%">
                    Para receber essa característica, dois personagens devem estar em lados oponentes, tendo um único inimigo adjacente a eles.
                    Personagens que estão flanqueando um inimigo recebem 1 categoria a mais de dados para ataques corpo a corpo.
                </p>
            </div>       
            
            <div class="SurpriseAttack" id="surpriseAttack-section">
                <div class="SurpriseAttack-header">
                    <img src="/static/images_pSystem/surpriseAttack.png" alt="Icon Text Surprise Attack" class="iconTextSurpriseAttack">
                    <h1>Ataque Surpresa</h1>
                </div>
                <p style="text-indent: 1%">
                    Personagens que impõem efeitos de Surpresa a algum inimigo recebem 1 categoria a mais de dados para ataques, 
                    tanto corpo a corpo, como ataques a distância.
                </p>
            </div>     
            
            <div class="CompleteDefense" id="completeDefense-section">
                <div class="CompleteDefense-header">
                    <img src="/static/images_pSystem/completeDefense.png" alt="Icon Text Complete Defense" class="iconTextCompleteDefense">
                    <h1>Postura de Batalha: Defesa Completa</h1>
                </div>
                <p style="text-indent: 1%">
                    Qualquer personagem pode assumir essa postura. Ao entrar na defensiva, um personagem abre mão de todas as suas ações naquele 
                    turno, não contando com sua Ação de Movimento. Ao assumir essa forma, o personagem recebe mais uma Ação de Reação com o 
                    propósito de usar mais manobras defensivas: Aparar, Bloquear, Esquivar. Ao se passar 1 turno, caso não tenha utilizado essa 
                    Reação adicional, ele perde essa característica.
                </p>
            </div>  

            <div class="Race" id="race-section">
                <div class="Race-header">
                    <img src="/static/images_pSystem/race.jpg" alt="Icon Text Race" class="iconTextRace">
                    <h1>Postura de Batalha: Corrida</h1>
                </div>
                <p style="text-indent: 1%">
                    Todo personagem pode assumir essa postura. Ao se entrar em nesta postura, um personagem pode optar em abrir mão da sua 
                    Ação Auxiliar e correr 2x Deslocamento Base ou perder sua Ação Padrão e correr 3x Deslocamento Base. Se um personagem não 
                    recebe qualquer característica que aumente seu deslocamento, considere que ele possui um deslocamento base de 10 metros.
                </p>
            </div>  

            <div class="CriticalFailure" id="criticalFailure-section">
                <div class="CriticalFailure-header">
                    <img src="/static/images_pSystem/criticalFailure.jpg" alt="Icon Text Critical Failure" class="iconTextCriticalFailure">
                    <h1>Falha Crítica</h1>
                </div>
                <p style="text-indent: 1%">
                    Quando um personagem em sua rolagem de dados não obtêm nenhum sucesso e ainda possui uma rolagem 1 no d10, ele está sobre essa 
                    características. Fica ao cargo do narrador definir uma situação desfavorável ao personagem pera seu resultado. Caso haja mais 
                    acúmulos de resultados 1's, segue a ordem abaixo: 
                    <div class="parag">
                        <p>Um dado 1 em falha crítica: evento desfavorável a sua ação;</p>
                        <p>Dois dados 1 em falha crítica: evento prejudicial a sua integridade física;</p>
                        <p>Três dados 1 em falha crítica: evento calamitoso até com pessoas ao seu redor.</p>
                    </div>
                </p>
                
            </div>  

        </div>

        <!--  Tópico de Confronto Social  -->
        <div class="socialConfrontation" id="socialConfrontation-section">
            <img src="/static/images_pSystem/sword.png" alt="Icon Social Confrontation" class="iconSocialConfrontation">
            <h2>Confronto Social</h2>
        </div>

        <div id="socialConfrontation-text" style="display: none;">
            <img src="/static/images_pSystem/rolls.png" alt="Icon Text Social Confrontation" class="iconTextSocialConfrontation">
            <p>
                O Story Shack mantém uma coleção crescente de idéias de escrita e geradores de nomes de domínio, adequados para cada gênero. Este é o lugar para gerar aquela próxima idéia para uma história atraente, personagem ou nome para o seu próximo jogo de roleplaying.
            </p>
        </div>

       <!--  Tópico de Outros  -->
       <div class="others" id="others-section">
            <img src="/static/images_pSystem/sword.png" alt="Icon Others" class="iconOthers">
            <h2>Outros</h2>
        </div>

        <div id="others-text" style="display: none;">
            <img src="/static/images_pSystem/rolls.png" alt="Icon Text Others" class="iconTextOthers">
            <p>
                O Story Shack mantém uma coleção crescente de idéias de escrita e geradores de nomes de domínio, adequados para cada gênero. Este é o lugar para gerar aquela próxima idéia para uma história atraente, personagem ou nome para o seu próximo jogo de roleplaying.
            </p>
        </div>

    </div>

    <script src="/static/js/pSystem.js"></script>
</body>
</html>
